<div class="w-full grid md:grid-cols-2">
    <div class="w-full flex flex-col items-center md:pt-8">
        <h1 class="text-5xl font-Jersey text-sky-700 text-center"> Your Cart </h1>
        <% if @current_cart&.cart_items&.any? %>
            <p>You have: <%= @current_cart.cart_items.count %> product(s) in your cart</p>
            <div class="mx-auto flex flex-col gap-2 ">
                <% @current_cart.products.each.with_index do |product, index| %>
                    <div class="flex gap-2 bg-orange-400/30 p-2 mt-2 rounded-lg"> 
                        <span class="px-2 rounded-full bg-orange-600 text-white"> <%= index + 1 %> </span>
                        <p> <%= product.name %> </p>
                        <p class="text-green-600 font-semibold"> <%= number_to_currency product.price %> </p>
                    </div>
                <% end %>
            </div>
            <% else %>
                <p> You don't have any items inside your cart yet! </p>
        <% end %>
    </div>

    
</div>